* {
    font-family: helvetica, sans-serif;
}
body {
    /* background-color: #483d8b; */
}
.container {
    /* background-color: #bada55; */
}
.game-title {
    text-align: center;
}
.game-screen {
    /* background-color: rgb(69, 184, 194); */
    width: 300px;
    height: 500px;
    margin: 0 auto;
}
canvas {
    background-color: black
    /* #00bbc4 */
    /* #d2ce89 */
;
    display: block;
    width: 300px;
    height: 500px;
    margin: 0 auto;
}